.header {
    background-color: pink;
    position: relative;
}

.In {
    position: absolute;
    top: 5px;
    right: 1px;
}

.Up {
    position: absolute;
    top: 5px;
    right: 60px;
}

.main{

}

.movies img{
   width: 200px;
   height: 300px;
    
}
.movies img:hover{
    width: 220px;
    height: 320px;
     
 }
