.header {
    background-color: pink;
    position: relative;
}

.In {
    position: absolute;
    top: 5px;
    right: 1px;
}

.Up {
    position: absolute;
    top: 5px;
    right: 60px;
}

.main{
    background-image: background.png;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
}